.message_box{
	line-height: 30px;
	cursor: pointer;
	clear: both;
	min-height: 30px;
	margin: 8px 0px 8px 0px;
	padding: 20px 25px 10px 60px;
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
}

.message_warning {
	background-image: url(../img/32x32/error.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #FFC237;
	background-color: #FFEAA8;
	color: #826200;
}
.message_success {
	background-image: url(../img/32x32/accept.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #99C600;
	background-color: #EFFFB9;
	color: #3C5A01;
}

.message_error {
	background-image: url(../img/32x32/exclamation.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #EB5339;
	background-color: #FCCAC2;
	color: #AC260F;
}

.message_info {
	background-image: url(../img/32x32/information.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #418ACC;
	background-color: #D0E4F4;
	color: #235685;
}

.message_light {
	background-image: url(../img/32x32/lightbulb.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #D3A350;
	background-color: #FEF0CB;
	color: #835F21;
}

.message_message {
	background-image: url(../img/32x32/email.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #42B4FF;
	background-color: #9DDFFF;
	color: #835F21;
}
.message_shield {
	background-image: url("../img/icons/Security.png");
	background-position: 0px center;
	background-repeat: no-repeat;
	border: 2px solid #466A8A;
	background-color: #D5D4D4;
	color: #2F4C65;
}
