<global>
	<layouts>
		<!-- la idea es que se puedan cargar layouts segun el modo 
			ej: para mostrar pagina normal, para ajax, para print, rss, etc -->
		<admin>Admin_TipoAspecto.xml</admin>
		<admin>Admin_TipoAspecto_Multimodo.xml</admin>
		<ajax>Admin_TipoAspecto_Multimodo.xml</ajax>
	</layouts>
	<routers>
		<Admin_TipoAspecto_Router>administrator/tipo_aspecto</Admin_TipoAspecto_Router>
	</routers>
	<block>
		<type>selector_tipo_aspecto</type>
		<class>Admin_TipoAspecto_Block_Selector</class>
	</block>
</global>