<global>
	<layouts>
		<!-- la idea es que se puedan cargar layouts segun el modo 
			ej: para mostrar pagina normal, para ajax, para print, rss, etc -->
		<admin>Admin_Documento.xml</admin>
		<admin>Admin_Documento_Multimodo.xml</admin>
		<ajax>Admin_Documento_Multimodo.xml</ajax>
	</layouts>
	<block>
		<type>listado_documentos</type>
		<class>Admin_Documento_Block_Listado</class>
	</block>
	<block>
		<type>add_edit_list_documentos</type>
		<class>Admin_Documento_Block_AddEditList</class>
	</block>
	<routers>
		<Admin_Documento_Router>administrator/documento</Admin_Documento_Router>
	</routers>
</global>