<global>
	<layouts>
		<!-- la idea es que se puedan cargar layouts segun el modo 
			ej: para mostrar pagina normal, para ajax, para print, rss, etc -->
		<admin>Admin_Proyecto.xml</admin>
		<admin>Admin_Proyecto_Multimodo.xml</admin>
		<ajax>Admin_Proyecto_Multimodo.xml</ajax>
	</layouts>
	<block>
		<type>selector_proyecto</type>
		<class>Admin_Proyecto_Block_Selector</class>
	</block>
	<routers>
		<Admin_Proyecto_Router>administrator/proyecto</Admin_Proyecto_Router>
	</routers>
</global>