<global>
	<layouts>
		<!-- la idea es que se puedan cargar layouts segun el modo 
			ej: para mostrar pagina normal, para ajax, para print, rss, etc -->
		<admin>Admin_ProyectoActividad.xml</admin>
		<admin>Admin_ProyectoActividad_Multimodo.xml</admin>
		<ajax>Admin_ProyectoActividad_Multimodo.xml</ajax>
	</layouts>
	<routers>
		<Admin_ProyectoActividad_Router>administrator/proyecto_actividad</Admin_ProyectoActividad_Router>
	</routers>
	<block>
		<type>listado_proyecto_actividad</type>
		<class>Admin_ProyectoActividad_Block_Listado</class>
	</block>
	<block>
		<type>add_edit_list_proyecto_actividad</type>
		<class>Admin_ProyectoActividad_Block_AddEditList</class>
	</block>
</global>