<global>
	<layouts>
		<!-- la idea es que se puedan cargar layouts segun el modo 
			ej: para mostrar pagina normal, para ajax, para print, rss, etc -->
		<admin>Admin_Aspecto.xml</admin>
		<admin>Admin_Aspecto_Multimodo.xml</admin>
		<ajax>Admin_Aspecto_Multimodo.xml</ajax>
	</layouts>
	<block>
		<type>selector_aspecto_simple</type>
		<class>Admin_Aspecto_Block_Selector</class>
	</block>
	<block>
		<type>selector_aspecto</type>
		<class>Admin_Aspecto_Block_Selector_ChainedTipoAspecto</class>
	</block>
	<routers>
		<Admin_Aspecto_Router>administrator/aspecto</Admin_Aspecto_Router>
	</routers>
</global>