<global>
	<layouts>
		<!-- la idea es que se puedan cargar layouts segun el modo 
			ej: para mostrar pagina normal, para ajax, para print, rss, etc -->
		<admin>Admin_Objetivo.xml</admin>
		<admin>Admin_Objetivo_Multimodo.xml</admin>
		<ajax>Admin_Objetivo_Multimodo.xml</ajax>
	</layouts>
	<block>
		<type>selector_objetivo_simple</type>
		<class>Admin_Objetivo_Block_Selector</class>
	</block>
	<block>
		<type>selector_objetivo</type>
		<class>Admin_Objetivo_Block_Selector_ChainedAgencia</class>
	</block>
	<block>
		<type>objetivo_listado_re</type>
		<class>Admin_Objetivo_Block_ListResultadoEsperado</class>
	</block>
	<routers>
		<Admin_Objetivo_Router>administrator/objetivo</Admin_Objetivo_Router>
	</routers>
</global>