<global>
	<layouts>
		<!-- la idea es que se puedan cargar layouts segun el modo 
			ej: para mostrar pagina normal, para ajax, para print, rss, etc -->
		<admin>Admin_Audiencia.xml</admin>
		<admin>Admin_Audiencia_Multimodo.xml</admin>
		<ajax>Admin_Audiencia_Multimodo.xml</ajax>
	</layouts>
	<block>
		<type>selector_audiencia</type>
		<class>Admin_Audiencia_Block_Selector</class>
	</block>
	<block>
		<type>selector_audiencia_simple</type>
		<class>Admin_Audiencia_Block_Selector</class>
	</block>
	<block>
		<type>selector_audiencia_abm</type>
		<class>Admin_Audiencia_Block_Selector_Abm</class>
	</block>
	<routers>
		<Admin_Audiencia_Router>administrator/audiencia</Admin_Audiencia_Router>
	</routers>
</global>