.validador .img_error{
	display:block;
	min-width:64px;
	min-height:47px;
	background-image:url(./error.gif);
	background-repeat:no-repeat;
	padding-left:64px;
}
.validador .img_wait{
	display:block;
	min-width:50px;
	min-height:50px;
	background-image:url(./wait.gif);
	background-repeat:no-repeat;
	padding-left:50px;
}
.validador .img_error{
	/*white-space:nowrap;*/
}
.validador .cerrar{
	-moz-border-radius:10px 10px 10px 10px;
	background-color:red;
	border:1px solid #FFAA00;
	color:white;
	cursor:pointer;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	height:14px;
	position:absolute;
	right:6px;
	top:4px;
	width:13px;
}